<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>Layout 1</title>
    <link rel="stylesheet" href="../styles/diagram_layout.css" type="text/css">
</head>
<body onload="createTable(6);createToolbox();createTabNav();createTabContent()">

<table style="border: 0; width: 100%">
    <tr>
        <td>
            <div id="diagram6">
            </div>
        </td>
        <td>
            <div id="toolbox">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="buttons" style="float:right; width:350px;">
                <button onclick="saveCopy(6);">Save Diagram</button>
                <button onclick="reset();">Reset</button>
            </div>
        </td>
    </tr>
    <tr>
        <td rowspan="2" style="vertical-align: top">
            <table>
                <tr>
                    <td>
                        <div id="topnav">
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="tabContent"></div>
                    </td>
                </tr>
            </table>

            </div> </td>
    </tr>
</table>

<div id="blanket" style="display:none"></div>
<div id="popUpDiv" style="display:none">
    <a href="#" id="close" onclick="popup('popUpDiv')">Close </a>

    <h3>Checklist:</h3>

    <div id="allToDos"></div>
</div>

<div id="checkboxToDoList"></div>
<div id="tabsToDoList"></div>

<script type="text/javascript" src="../js/FileSaver.min.js"></script>
<script type="text/javascript" src="../js/diagram.js"></script>
</body>
</html>