@import url(navi.css);

#diagram1 {background-image:url('../images/Rec1.PNG');background-repeat:no-repeat; width: 550px;height: 400px; width: 60%:float:left}
#diagram2 {background-image:url('../images/Rec2.PNG');background-repeat:no-repeat; width: 550px;height: 400px; width: 60%:float:left}
#diagram3 {background-image:url('../images/Rec3.PNG');background-repeat:no-repeat; width: 550px;height: 400px; width: 60%:float:left}
#diagram4 {background-image:url('../images/Rec4.PNG');background-repeat:no-repeat; width: 550px;height: 400px; width: 60%:float:left}
#diagram5 {background-image:url('../images/Rec5.PNG');background-repeat:no-repeat; width: 550px;height: 400px; width: 60%:float:left}
#diagram6 {background-image:url('../images/Rec6.PNG');background-repeat:no-repeat; width: 550px;height: 400px; width: 60%:float:left}
#diagram7 {background-image:url('../images/Rec7.PNG');background-repeat:no-repeat; width: 550px;height: 400px; width: 60%:float:left}
#diagram8 {background-image:url('../images/Rec8.PNG');background-repeat:no-repeat; width: 550px;height: 400px; width: 60%:float:left}
#diagram9 {background-image:url('../images/Rec9.PNG');background-repeat:no-repeat; width: 550px;height: 400px; width: 60%:float:left}

body {
    background-color: #EEEEDD
}
.toolboxImage {
    width: 95px;
    height: 65px;

}

.diagramImage {
    width: 63px;
    height: 43px;

}

.diagramImage:hover{
    width: 95px;
    height: 65px;
}

#toolbox{
    width: 40%;
}
.hidden{
    display: none;
}

.shown{
    display: block;
}


#blanket {
    background-color:#111;
    opacity: 0.65;
    *background:none;
    position:absolute;
    z-index: 9001;
    top:0px;
    left:0px;
    width:100%;
}

#popUpDiv {
    position:absolute;
    background-color: rgb(235, 255, 179);
    width:400px;
    height:400px;
    border:5px solid #000;
    z-index: 9002;
}

#close{
    float: right;margin-right: 5px;
}

.diagramTable {
    width: 550px; height: 400px;
}

.diagramCell{
    width: 14%;height: 14%;
}

.toolboxTable{
    border-collapse: collapse;
    background-color:white;
}

.toolboxCell{
    padding:0px; margin: 0px;
}

#tabContent{
    display:block;
    font-weight:bold;
    font-size:14px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    background-color: #96897a;
}
