@import url(navi.css);

#diagram {background-repeat:no-repeat; width: 750px; height: 523px;}
#edit {
    width: 750px;
    height: 523px;
    float:left;
}

body {
    background-color: #EEEEDD
}
#toolbox {
 float: left;
 width: 25%;
 border: 1px solid grey;
 text-align: center;
 padding: 10px;

}
.toolboxImage {
    width: 63px;
    height: 43px;
    cursor: pointer;


}
.toolboxImage img {
    width: 63px;
    height: 43px;
    -webkit-transition:0s width, height;     
    -moz-transition:0s width, height; 
    -ms-transition:0s width, height;     
    -o-transition:0s width, height;     
    transition:0s width, height;
}
.toolboxImage:hover .delete{
    background-image: url(../images/x.png);
    background-size: 100%;
    -webkit-transition-delay:0.5s;     
    -moz-transition-delay:0.5s; 
    -ms-transition-delay:0.5s;     
    -o-transition-delay:0.5s;     
    transition-delay:0.5s;

} 

.toolboxImage:hover .clone{
    background-image: url(../images/clone.png);
    background-size: 100%;
    -webkit-transition-delay:0.5s;     
    -moz-transition-delay:0.5s; 
    -ms-transition-delay:0.5s;     
    -o-transition-delay:0.5s;     
    transition-delay:0.5s;
    
}

.clone {
    position: absolute;
    bottom: -65%;
    right: -25px;
    height: 15px;
    width: 40px;
}

.delete{
    position: absolute;
    bottom: 75%;
    right: -25px;
    height: 20px;
    width: 20px;
}
.drop img {
    width: 63px;
    height: 43px;
}


.hidden{
    display: none;
}

.shown{
    display: block;
    border-radius: 0 6px 6px 0;
}


#blanket {
    background-color:#111;
    opacity: 0.65;
    background:none;
    position:absolute;
    z-index: 9001;
    top:0px;
    left:0px;
    width:100%;
}

#popUpDiv {
    position:absolute;
    background-color: rgb(235, 255, 179);
    width:400px;
    height:400px;
    border:5px solid #000;
    z-index: 9002;
}

#close{
    float: right;margin-right: 5px;
}


.toolboxTable{
    border: 0px;
}

.toolboxCell{
    padding: 2px;
    text-align: center;
    width: 110px;
    height: 70px;
}

#topnav {
    width: 750px;
}
#tabContent{
    display:block;
    position: absolute;
    font-size:14px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    border-radius: 6px 6px 6px 0;
    background-color: #96897A;
    width: 1236px;

}

/*pop up css*/

/* Overlay */
.simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
.simplemodal-container {height:360px; width:500px; color:black; background-color:#E8E8E8; border:4px solid #444; padding:12px;}
.simplemodal-container .simplemodal-data {padding:20px; font-size: 14px;}
.simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
.simplemodal-container h3 {color:#484848;}