

body{
	margin:0;
	padding:0;
	font-size:13px;
	font-family:verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background-color:#666666;
}

img{border:0; padding:0; margin:0;}
.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart {list-style-type:none; margin:0; padding:0;}
.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}
a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

.imgl{float:left; margin:0 8px 8px 0; border:1px solid #000000; padding:5px; color:#FFFFFF; background-color:#999999; clear:left;}
.imgr{float:right; margin:0 0 8px 8px; border:1px solid #000000; padding:5px; color:#FFFFFF; background-color:#999999; clear:right;}

.mainTitle{
	color:#F5F5EB;
	/*background-color:#F5F5EB;*/
}

.instructions{
	padding-top: 80px;
	display:block;
	position:absolute;
	/*left:0;*/
	text-align:center;
	color: #7BAB96;
	float: left;
}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	display:block;
	width:100%;
	margin:0;
	text-align:left;
}

.col1{color:#FFFFFF; background-color:#A7A697;}
.col2{color:#666666; background-color:#F5F5EB;}
.col3{color:#7BAB96; background-color:#EEEEDD; padding: 10px; font-size: 14px;}
.col4{color:#666666; background-color:#F5F5EB;}
.col5{color:#FFFFFF; background-color:#666666;}

/* ----------------------------------------------Generalise-------------------------------------*/

#topbar, #head, #projects, #breadcrumb, #container, #copyright, #gallery{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
}

/* ----------------------------------------------TopBar-------------------------------------*/

#topbar{
	height:60px;
	padding-top:10px;
}




/* ----------------------------------------------Head-------------------------------------*/
.col3 button{

	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #7BAB96));
	background:-moz-linear-gradient(top, #768d87 5%, #7BAB96 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #7BAB96 100%);
	background:-o-linear-gradient(top, #768d87 5%, #7BAB96 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #7BAB96 100%);
	background:linear-gradient(to bottom, #768d87 5%, #7BAB96 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#7BAB96',GradientType=0);

	background-color:#7BAB96;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	border:1px solid #7BAB96;

	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;

	padding:3px 23px;
	text-decoration:none;

	text-shadow:0px -1px 0px #2b665e;
}

#checklistMenu{
	float:right;
	width:210px;
	height: 23px;
	background-color: white;
	border: 1px solid #7BAB96;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-right: 20px; 
	text-align: center;
	cursor: pointer;
	
}

.checklistButton{
	font-size:16px;
	color: #669999;
}
#checklist {
	list-style: none;
	width:120px;
	margin: 0px 15px; 
	-webkit-padding-start: 5px;
	cursor: pointer;
	padding: 2px;
}
#menu {
	
}

#menu ul{
	width: 170px;
	display: none;
	z-index: 999;
	position: absolute;
	list-style: none;
	-webkit-padding-start: 0px;
	-moz-padding-start: 0px;

}

#menu ul li{
	background-color:#669999;
	
	padding: 10px;
	border-bottom:1px solid white;
}
#menu ul li a{
	color:white;
}

#menu ul li:hover a{
	background-color: white; 
	color:#7BAB96;
}
#checklistMenu:hover ul{
	display: block;

}


#head{
	padding-top: 20px;
	z-index:1000;
	height:500px;
	color:#666666;
	background-color:#F5F5EB;
	font-size:20px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

#head h1, #head p, #head a{
	margin:0;
	padding:0;
	list-style:none;
	line-height:normal;
}

#head a{
	color:#7BAB96;
	background-color:#F5F5EB;
}

#head a:hover{
	color:#FFFFFF;
	background-color:#F5F5EB;
}

#head h1 a{
	position:absolute;
	top:15px;
	left:0;
	font-size:120px;
}

#head p{
	display:block;
	/*width:500px;*/
	position:absolute;
	/*top:170px;*/
	left:0;
	text-align:right;
}



#container{
	padding:15px 0;
}

#container h1, #container h2, #container h3, #container h4, #container h5, #container h6{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-size:18px;
	margin:0 0 10px 0;
	padding:0;
}

#container a{
	color: rgba(255, 140, 2, 0.25);
	background-color:#F5F5EB;
}

#column p, #column ul, #column h1, #column h2, #column h3, #column h4, #column h5, #column h6{
	margin:0;
	padding:0;
	list-style:none;
	line-height:normal;
	font-weight:normal;
}

#column .holder{
	margin-bottom:15px;
}

#column .holder .title{
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
	padding-bottom:5px;
	border-bottom:1px dotted #666666;
}

#column .holder li{
	margin-bottom:5px;
}

#column ul#banner125 li{
	display:inline; /* Gets Rid of IE6 double margin bug */
	float:left;
	width:125px;
	height:125px;
	margin:0 0 10px 10px;
}

#column .text{font-size:12px;}

#column .holder p.readmore{
	text-align:right;
	margin:5px 0 8px 0;
}


/* ----------------------------------------------Footer-------------------------------------*/

#copyright{
	padding:20px 0;
	font-size:11px;
}

#copyright a{
	color:#FFFFFF;
	background-color:#666666;
}

#copyright p{
	margin:0;
	padding:0;
}